<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/home" method="get">
    <h3 style='margin:30px;' th:text="${title}"></h3>
    <p><span>Number1</span><span style='margin:108px;'>Number2</span></p>
    <p><label for="input1"></label><input id="input1" th:value="${number1}" name="firstNumber"  type="text" size="15">
       <label for="input2"></label><input id="input2" th:value="${number2}" name="secondNumber" type="text" size="15" style='margin-left:20px;'></p>

    <p><button id="butt_add" name="action" type="submit" value="addition">      Сложить </button><span>  </span><span id="str1" th:text="${ADD}"></span></p>
    <p><button id="butt_mul" name="action" type="submit" value="multiplication">Умножить</button><span>  </span><span id="str2" th:text="${MUL}"></span></p>
    <p><button id="butt_both" name="action" type="submit" value="">      Выполнить оба действия </button><span>  </span></p>
</form>
</body>
</html>